# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, action ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i cnpm -g
    - run: cnpm i
    - run: npm run docs:build
      
    - name: Deploy nmsn.github.io/master
      uses: peaceiris/actions-gh-pages@v3
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        external_repository: nmsn/nmsn.github.io #可以新建一个mybells.github.io仓库发布到master
        publish_branch: master
        publish_dir: docs/.vuepress/dist
        allow_empty_commit: false
        cname: blog.nmsn.site


